/******************MAIN ELEMENTS******************/


body {
	background: white;
	width: 80%;
	margin: auto;
	

	font-family: "Muli";
	font-weight: 70;
	text-align: center;
}
ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}


li {
	list-style: none;
	display: inline;
}

header{
	display: inline-block;
	margin: auto;
}

footer{
	width: 100%;
	text-align: center;
	padding-top: 30px;
	border-top: 2px solid #949193;
	min-height: calc(100vh-89px);
	font-size: .75em;
}

/******************BACK TO TOP******************/

#bringmeback{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

#bringmeback a:hover{
	color: #DBC8D5
}



/******************MAIN HEADER******************/

.name  h1,
		h2{
	float: left;
}
.name h2{
	size: .5em;
	margin-top: -20px;
	font-weight: 100;
	padding-bottom: 25px;
	
}

.navigation {
	margin-top: 5px;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;
}


/******************NAV BAR******************/


.navigation li{
	font-size: 1.25em;
	padding: 5px 15px;
}



.navigation a:hover{
	border-bottom: 2px solid #DBC8D5;
	color: #DBC8D5;
}


/******************SOCIAL CONTACT ICONS******************/


.contact{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.contact img{
	height: 60px;
	width: 60px;
	padding: 10px 20px;
}

/******************INFO******************/

.info p{
	width: 70%;
	text-align: center;
	margin: auto;
	padding: 20px;
}

.info {
	margin: 60px auto;
}

/******************CAROUSEL******************/


.car-photo img {
	margin: auto;
	height: 250px;
	width: auto;
}
.fade {
	margin-top: 50px;
}






/******************MEDIA Q******************/

@media (min-width: 768px) {
	body{
		text-align: justify;
	}
	.main-head{
		display: inline-block;
		margin-top: 10px;
		float: right;
	}

	.navigation{
		margin-top: 20px;
	}

	
	.name h1,
			h2  {
		float: none;
	}

	.car-photo img {
		margin: auto;
		height: 450px;
		width: auto;
	}

	.fade {
		margin-top: 25px;
		}
	.name h2{
		size: .5em;
		margin-top: -20px;
		border-bottom: none;
	}
}



@media (min-width: 1224px) {
	body{
		text-align: justify;
	}
	.name h1,
			h2		{
		float: none;
	}

	.navigation{
		margin-top: 20px;
	}
	.car-photo img {
		margin: auto;
		height: 550px;
		width: auto;
	}

	.main-head{
		display: inline-block;
		margin-top: 10px;
		float: right;
	}

	.fade {
		margin-top: -10px;
	}

}

	


