/******************MAIN ELEMENTS******************/


body {
	background: white;
	width: 80%;
	margin: auto;
	padding: auto;
	font-family: "Muli";
	font-weight: 70;
}

a {
	text-decoration: none;
	color: black;
}


li {
	list-style: none;
	display: inline;
}

header{
	display: inline-block;
	margin: auto;
}

footer{
	width: 100%;
	text-align: center;
	padding-top: 30px;
	border-top: 2px solid #949193;
	min-height: calc(100vh-89px);
}

/******************BACK TO TOP******************/

#bringmeback{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

#bringmeback a:hover{
	color: #DBC8D5
}



/******************MAIN HEADER******************/

.main-head{
	display: inline-block;
	margin-top: 10px;
	float: right;
}
.name h2{
	margin-top: -15px;
}

/******************NAV BAR******************/


.navigation li{
	font-size: 1.25em;
	padding: 10px 10px;
}

.navigation a:hover{
	border-bottom: 2px solid #DBC8D5;
	color: #DBC8D5;
}


/******************SOCIAL CONTACT ICONS******************/


.contact{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.contact img{
	height: 60px;
	width: 60px;
	padding: 10px 20px;
}

/******************INFO******************/

.info p{
	width: 70%;
	text-align: center;
	margin: auto;
	padding: 20px 25px;
}

.info {
	margin: 50px auto;
}

/******************CAROUSEL******************/


.car-photo img {
	margin: auto;
	height: 500px;
	width: auto;
}
.fade {
	margin-top: 50px;
}






/******************MEDIA Q******************/

@media (max-width:400px) {
	body{
		text-align: center;
	}
	.car-photo img{
		height:200px;	
	}

	.fade{
		margin-top: 150px;
	}

	.contact img{
		height: 40px;
		width: 40px;
	}

	.main-head{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center
	}
}



