body {
	background: white;
	width: 80%;
	margin: auto;
	padding: auto;
}

a {
	text-decoration: none;
	color: black;
}

.navigation a:hover{
	border-bottom: 2px solid black;
}

li {
	list-style: none;
	display: inline;
}

header{
	display: inline-block;
	margin: auto;
}

footer{
	text-align: center;
}
#bringmeback{
	text-align: center;
	margin-top: 20px;
}

.name h2{
	margin-top: -20px;
}



.main-head{
	display: inline-block;
	margin-top: 10px;
	float: right;
}

.navigation li{
	font-size: 1.25em;
	padding: 10px 10px;
}

.contact{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.contact img{
	height: 60px;
	width: 60px;
	padding: 10px 20px;
}
.info p{
	width: 70%;
	text-align: center;
	margin: auto;
	padding: 20px 25px;
}

.info {
	margin: 50px auto;
}

.car-photo img {
	margin: auto;
	height: 500px;
	width: auto;
}



