/******************MAIN ELEMENTS******************/


body {
	background: white;
	width: 95%;
	margin: auto;
	font-family: "Muli";
	font-weight: 70;
	text-align: center;
}
ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}


li {
	list-style: none;
	display: inline;
}

header{
	display: inline-block;
	margin: auto;
	margin-right: 20px;
}

footer{
	width: 100%;
	text-align: center;
	padding-top: 30px;
	min-height: calc(100vh-89px);
	font-size: .75em;
	margin-bottom: 20px;
}

/******************BACK TO TOP******************/

#bringmeback{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

#bringmeback a:hover{
	color: #DBC8D5
}



/******************MAIN HEADER******************/

.name   h1,
		h2,
		 {
	float: left;
	letter-spacing: 3px;
}

.name h2{
	size: .5em;
	margin-top: -20px;
	font-weight: 100;
	letter-spacing: 5px;	
}


/******************NAV BAR******************/


.navigation {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;
}

.navigation li{
	font-size: 1.2em;
	padding: 5px 10px;
	letter-spacing: .5px;
}

.navigation a:hover {
	border-bottom: 2px solid black;
	color: black;
}

.active {
	color: #DBC8D5;
}


/******************SOCIAL CONTACT ICONS******************/


.contact {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.contact img{
	height: 40px;
	width: 40px;
	padding: 10px 10px;
}

.social img:hover{
	opacity: .4;
}

.contact {
	padding-top: 50px;
	margin-top: 100px;
	
}

/* ------------GALLERY ----------- */

.container2,
.container3,
.container4 {
	min-height: 100vh;
	height: 50%;
	margin-top: 50px;
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	justify-content: center;
}

.gallery img{
	height: 250px;
	width:auto;
	margin: 10px 10px 0 0;
}


.gallery3 img,
.gallery4 img  {
	height: 175px;
	width: auto;
	margin: 10px 10px 0 0;

}


/******************MEDIA Q******************/

@media only screen and (min-width: 480px) {
	body{
		text-align: justify;
	}

	.main-head {
		display: inline-block;
		margin-top: 10px;
		float: left;
	}

	.name 
	h1,
	h2 {
		float: none;
	}

	.name h2{
		size: .5em;
		margin-top: -20px;
		border-bottom: none;
	}

	.navigation{
		flex-flow: row wrap;
		justify-content: center;
	}

	.navigation li{
		font-size: 1.25em;
		padding: 5px 10px;
		letter-spacing: .5px;
}

	.container2,
	.container3,
	.container4 {
		min-height: 100vh;
		height: 50%;
	 	margin-top: 125px; 
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

}
	.gallery img{
		height: 300px;
		width: auto;
		margin: 5px 10px 0 0;
	}


	.gallery3 img,
	.gallery4 img {
		height: 200px;
		width: auto;
		margin: 5px 10px 0 0;
	}
	
	.contact img{
	padding: 10px 20px;
	height: 60px;
	width: 60px;
	}
}


@media only screen and (min-width: 768px) {
	body{
		width: 80%;
	}

	.navigation{
		margin-top: 20px;
		margin-right: 30px;

	}
		.main-head{
		float: left;
		margin-left: -10px;
	}

	.container2,
	.container3,
	.container4 {
		margin-top: 100px;
	}
}


@media only screen and (min-width: 1035px) {
	
	.name 
	h1,
	h2 {
		float: none;
	}

	.main-head{
		float: right;
	}

	.container2,
	.container3,
	.container4 {
		margin-top: 40px;
	}
}



@media only screen and (min-width: 1224px) {

	.name 
	h1,
	h2 {
		float: none;
	}
	
	.navigation{
		margin-top: 20px;
		justify-content: space-between;
	}

	.navigation li{
		font-size: 1.25em;
		padding: 5px 15px;
		letter-spacing: .5px;
	}

	.gallery3 img,
	.gallery4 img  {
		height: 250px;

	}

	.gallery img{
		height: 325px;
	}

}
